@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300..900&family=Inknut+Antiqua:wght@300..900&display=swap');

:root {
    --color-menu: #F6A700;
    --color-fondo: #FFFAD7;
    --color-titulos: #39675D;
    --color-opcional1: #7BA885;
}

body {
    background: var(--color-fondo);
    margin: 0;
    font-family: "Hanken Grotesk", sans-serif;
}

/* NAVBAR */
.navbar-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
    padding: 15px 0;
}

.navbar-custom {
    background-color: var(--color-menu);
    border-radius: 30px;
    padding: 10px 40px;
    max-width: 900px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar-custom .nav-link {
    color: white !important;
    font-weight: bold;
    margin: 0 15px;
    font-size: 1rem;
}

/* NavBar resposive */
.navbar-brand {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Desktop (no cambia nada) */
@media (min-width: 992px) {

    .navbar-toggler,
    .navbar-brand {
        display: none !important;
    }

    .navbar-custom {
        border-radius: 30px;
        max-width: 900px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .full-screen-menu {
        position: static !important;
        width: auto !important;
        height: auto !important;
        background-color: transparent !important;
        padding: 0 !important;
    }
}

@media (max-width: 991.98px) {
    .navbar-wrapper {
        padding: 0px;
    }

    .navbar-custom {
        border-radius: 0;
        box-shadow: none;
        padding: 10px 15px;
    }

    .full-screen-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--color-menu);
        z-index: 999;
        padding-top: 80px;
    }

    .navbar-nav {
        flex-direction: column !important;
        align-items: center;
        gap: 20px;
    }

    .navbar-custom .nav-link {
        font-size: 1.2rem;
        margin: 0;
    }
}


/* HERO */
.hero {
    position: relative;
    height: 100vh;
    background-image: url('f279762d-6cfc-457e-8a3d-0e013a3346c5.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 0 20px;
    font-family: "Inknut Antiqua", serif;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.hero-content h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

/* TARJETAS */
.container-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 120px;
    gap: 20px;
}

.container-card .card {
    background: var(--color-fondo);
    overflow: hidden;
    flex: 1 1 calc(33.333% - 20px);
    display: flex;
    gap: 18px;
    padding: 20px;
    align-items: center;
    min-width: 250px;
    flex-direction: row;
    border: none;
}

.container-card .card img {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

.container-card .content h3 {
    margin: 0;
    font-size: 20px;
    color: var(--color-titulos);
    font-weight: bold;
}

.container-card .content p {
    font-size: 12px;
    color: var(--color-titulos);
}

.container-card .btn {
    background-color: #f9a825;
    color: white;
    padding: 6px 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 12px;
    display: inline-block;
}

/* TRANSMEDIA ESPACIO INFO */

.transmedia-section {
    background-color: var(--color-fondo);
}

.media-item img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
}

.media-item h5 {
    font-size: 14px;
    color: #b14624;
    font-weight: 700;
    margin: 0;
}

.media-item p {
    font-size: 12px;
    margin: 6px 0 10px;
    color: #333;
}

.media-item .btn {
    padding: 6px 12px;
    font-size: 12px;
    background-color: var(--color-menu);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}

.titulo-seccion,
.titulo-secundario {
    font-family: "Inknut Antiqua", serif;
    color: var(--color-titulos);
    font-size: 32px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
}

.titulo-seccion span,
.titulo-secundario span {
    color: #b14624;
    font-size: 28px;
    display: block;
}

.justificado {
    text-align: justify;
    font-size: 14px;
}


@media (min-width: 992px) {
    .transmedia-section .row {
        margin-bottom: 60px;
    }

    .transmedia-section .col-lg-6 {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 991.98px) {
    .transmedia-section .media-item {
        margin-bottom: 16px;
    }

    .transmedia-section .row {
        margin-bottom: 40px;
    }

    .transmedia-section .col-lg-6 {
        padding-left: 15px;
        padding-right: 15px;
    }
}


/* FOOTER */
footer {
    background-color: var(--color-menu);
}

.footerContainer {
    width: 100%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socialIcons a {
    text-decoration: none;
    background-color: var(--color-fondo);
    margin: 10px;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialIcons a i {
    font-size: 2em;
    color: var(--color-titulos);
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: var(--color-titulos);
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    flex-wrap: wrap;
}

.footerNav ul li a {
    color: var(--color-fondo);
    margin: 20px;
    text-decoration: none;
    font-size: 14pt;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: var(--color-titulos);
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: var(--color-fondo);
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

/* RESPONSIVE */
@media (max-width: 992px) {

    .container-card{
        padding: 0px;
    }

    .container-card .card {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .navbar-custom {
        padding: 10px 20px;
        max-width: 100%;
    }

    .navbar-custom .nav-link {
        margin: 0 8px;
        font-size: 0.9rem;
    }

    .container-card{
        padding: 0px;
    }

    .container-card .card {
        flex: 1 1 100%;
        flex-direction: column;
        text-align: center;
    }

    .container-card .card img {
        margin-bottom: 15px;
    }

    .footerNav ul {
        flex-direction: column;
        align-items: center;
    }

    .footerNav ul li a {
        margin: 10px 0;
    }

    .socialIcons {
        flex-wrap: wrap;
        gap: 10px;
    }
}